<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <link rel="icon" href="img/game_w.png" />
        <link rel="stylesheet" href="style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=0.65" />
        <script type="text/javascript" src="lib/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="lib/browserfs.min.js"></script>
        <script type="text/javascript" src="lib/doppio/doppio.js"></script>
        <script type="text/javascript" src="lib/block.js"></script>
        <script type="text/javascript" src="lib/util.js"></script>
        <script type="text/javascript" src="java.js"></script>
        <script type="text/javascript">
            if (app && app.main) {
                app.main.config = {
                    id: "<%= id %>",
                    path: "<%= path %>",
                    title: "<%= title %>",
                    height: parseInt("<%= height %>"),
                    width: parseInt("<%= width %>"),
                    size_mult: parseFloat("<%= size_mult %>")
                };
            }
        </script>
    </head>
    <body>
        <!-- <%= id %> -->
        <div id="loading" style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: table;
                    text-align: center;
                    opacity: 1;
                    transition: opacity 0.1s ease;
                ">
        <div style="
                display: table-cell;
                vertical-align: middle;
                margin: 0 auto;
            "> <img src="img/loading_gear.svg" id="loadingimg" style="
                    width: 45%;
                    max-width: 75px;
                    opacity: 0.8;
                    transition: opacity 0.5s ease;
                " /> </div>
    </body>
</html>
